<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @candidate.cellphone %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @candidate.birth_date %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
